<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>

    <link rel="stylesheet" href="style.css">
  </head>

  <body id="login">
    <form method="post" id="inputAccount">
      <input type="text" name="input_id" class="input-account" id="" placeholder="ID">
      <br>
      <input type="password" name="input_pw" class="input-account" id="" placeholder="PW">
    </form>
  </body>

</html>
